{% extends '_layout' %}

{% block stylesheets %}
    {% do view.registerCssFile("static/single/style.mini.css") %}
{% endblock %}

{% set params = craft.entries.section('process').orderBy('date asc') %}

{% set previous= entry.getPrev(params) %}
{% set next= entry.getNext(params) %}

{% block logo %}
    <h1 class="main-title hoverd">A Sweet Gathering Place</h1>
{% endblock %}

{% block nav_menu %}
    <li><a href="/">home</a></li>
    
    {% if previous %}
    <li><a href="{{ previous.url }}">previous</a></li>
    {% endif %}		
    {% if next %}
    <li><a href="{{ next.url }}">next</a></li>
    {% endif %}

    <li><a href="/about">about</a></li>
{% endblock %}

{% block main %}
    <!-- entry -->
    <section class="entry">
        <article class="card">
            <figure>
                <img src="{{ entry.image.one().url }}" alt="">
                <figcaption>{{ entry.title }}
                </figcaption>
                <time>{{entry.date | date("M d, Y") }}</time>
            </figure>
            <p class="headline">{{ entry.headline }}</p>
                {{ entry.copy }}
            <nav class="entry-nav">
		{% if previous %}
                <a href="{{ previous.url }}" class="previous press">previous</a>
                {% endif %}
                {% if next %}
                <a href="{{ next.url }}" class="next press">
                    next
                </a>
                {% endif %}
                {% if next == null %}
                <a href="/about" class="next press">
                    about
                </a>
                {% endif %}

            </nav>
        </article>
    </section>
{% endblock %}

{% block javascript %}
    {#{% do view.registerJsFile(""~siteUrl~"/single/main.js") %}#}
{% endblock %}
