<!DOCTYPE html>
	{% set layout = craft.entries.section('layout').limit(null).all()%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% do view.registerCssFile( "static/style.mini.css") %}
    {% do view.registerCssFile( "static/fonts/Blackwood-Castle/stylesheet.css") %}
    {% do view.registerCssFile( "static/fonts/mont/stylesheet.css") %}

    {% block stylesheets %}

    {% endblock %}
    <title>{{ entry.title }}</title>
</head>
<body>
    <nav class="single-nav">
        <a href="/">
        {% block logo %}
            
        {% endblock %}
        </a>
        <menu>
	    {% for entry in layout %}
                {% if entry.title == 'menu' %}
                <img id="hamburger" src="{{ entry.navIcon.one().url }}" alt="">
                {% endif %}
            {% endfor %}
            <ul id="menu" class="inactive"
                style="display: none;">
                {% block nav_menu %}

                {% endblock %}
               <li>
            {% for entry in layout %} 
               {% if entry.title == 'close menu' %}
		    <img class="press close-menu" src="{{ entry.navIcon.one().url }}">
               {% endif %}
            {% endfor %}
               </li>
            </ul>
        </menu>
    </nav>
  
    {% block main %}

    {% endblock %}
    
   <footer>
	{% for entry in layout %}
	    {% if entry.type.handle == 'brands' %}
        <a href="{{ entry.redirectUrl}}">
	    <img class="sm-icon press" src="{{entry.icon.one().url}}" alt="">
        </a>
	    {% endif %}
	{% endfor %}
    </footer>
</body>
{% do view.registerJsFile("static/jquery3.4.1.js") %}
{% do view.registerJsFile("static/main.js") %}

{% block javascript %}

{% endblock %}
</html>
